{{define "main"}}
<div class="page-header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active"><a href="#">add</a></li>
			<li role="presentation"><a href="#">add1</a></li>
		</ul>
	</nav>
	<h3>名称<small>&nbsp;&nbsp;&nbsp;&nbsp;介绍</small></h3>
</div>
<nav>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#" onclick="">成员</a></li>
		<li role="presentation"><a href="javascript:void(0);" onclick="">任务</a></li>
	</ul>
</nav>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>test</th>
				<th>2</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>33</td>
				<td>44</td>
			</tr>
		</tbody>
	</table>
</div>
{{end}}
