{{define "main"}}
<div class="page-header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation"><a href="#" data-toggle="modal" data-target="#editGuild" data-guild-id={{.Id}}>编辑</a></li>
			<li role="presentation"><a href="#" onclick="deleteGuild({{.Id}})">删除</a></li>
			<li role="presentation"><a href="#" data-toggle="modal" data-target="#editMember" data-member-id="0">添加成员</a></li>
			<li role="presentation"><a href="#" data-toggle="modal" data-target="#editTask" data-task-id="0">添加任务</a></li>
		</ul>
	</nav>
	<span class="hidden">{{.Id}}</span>
	<h3>{{.Name}}<small>&nbsp;&nbsp;&nbsp;&nbsp;{{.Introduce}}</small></h3>
</div>
<nav>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#" onclick="showTable(1)">成员</a></li>
		<li role="presentation"><a href="javascript:void(0);" onclick="showTable(2)">任务</a></li>
	</ul>
</nav>
<div class="table-responsive">
	<!-- template "task-table" -->
	<!-- template "member-table" -->
</div>
{{end}}
