{{define "sidebar"}}
<div class="input-group">
	<input type="text" class="form-control" placeholder="Search for...">
	<span class="input-group-btn">
		<button class="btn btn-default" type="button">Go!</button>
	</span>
</div>
<ul class="nav nav-sidebar">
	<li class="active"><a href="#">sddf</a></li>
	<li><a href="#">ss</a></li>
	<li><a href="#" data-toggle="modal" data-target="#editGuild" data-guild-id="0">添加工会</a></li>
</ul>
{{end}}
