{{define "table"}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>test</th>
			<th>2</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>33</td>
			<td>44</td>
		</tr>
	</tbody>
</table>
{{end}}
